@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* ---------- Primary set-up ----------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--blue900);
    background-image: url(../images/pattern-background-desktop-dark.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.quiz-wrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.answers-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;

}


/* ---------- Colors ----------*/

:root {
    /*Primary color*/
    --white: #FFFFFF;
    --black: #000000;

    --grey500: #626C7F;
    --grey50: #F4F6FA;

    --blue950: #2D3949;
    --blue900: #313E51;
    --blue850: #3B4D66;
    --blue500: #306AFF;
    --blue300: #ABC1E1;
    --blue100: #EDF1F9; 
    --blue50: #EBF0FF;
    
    /*Secondary color*/
    --green500: #2FD887;
    --green100: #E0FDEF;

    --purple600: #A729F5;
    --purple100: #F6E7FF;

    --orange400: #FF7E35;
    --orange50: #FFF5ED;
     
    --red200: #EE5454;
}

/*Backgrounds*/
.bg-blue50 {background-color: var(--blue50);}
.bg-green100 {background-color: var(--blue50);}
.bg-purple100{background-color: var(--blue50);}
.bg-orange50 {background-color: var(--blue50);}


/* ---------- Typos ----------*/

* {
    font-family: "Rubik", sans-serif;
    color: var(--white);
}


.surtitle {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.subtitle {
    margin-top: 2rem;
    color: var(--blue300);
    font-size: 0.5;
    font-weight: 300;
    letter-spacing: normal;
    font-style: italic;
}

p {
    font-size: 1rem;
}

/* ---------- Start Menu ----------*/

button {
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: var(--blue850);
    border-radius: 0.7rem;
    min-width: 25rem;
    cursor: pointer;
    padding: 0.5rem;

}

.icon {
    margin: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

button span {
    font-size: 1.2rem;
    margin-left: 1rem;
}
