@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* -------------------- Primary set-up --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* -------------------- Colors --------------------*/

:root {
    /*Primary color*/
    --white: #FFFFFF;
    --black: #000000;

    --grey500: #626C7F;
    --grey50: #F4F6FA;

    --blue950: #2D3949;
    --blue900: #313E51;
    --blue850: #3B4D66;
    --blue500: #306AFF;
    --blue300: #ABC1E1;
    --blue100: #EDF1F9; 
    --blue50: #EBF0FF;
    
    /*Secondary color*/
    --green500: #2FD887;
    --green100: #E0FDEF;

    --purple600: #A729F5;
    --purple100: #F6E7FF;

    --orange400: #FF7E35;
    --orange50: #FFF5ED;
     
    --red200: #EE5454;
}

/*Backgrounds*/
.bg-blue50 {background-color: var(--blue50);}
.bg-green100 {background-color: var(--blue50);}
.bg-purple100{background-color: var(--blue50);}
.bg-orange50 {background-color: var(--blue50);}


/* -------------------- Typos -------------- ------*/

* {
    font-family: "Rubik", sans-serif;
    color: var(--white);
}


.surtitle {
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
}

.subtitle {
    margin-top: 2rem;
    color: var(--blue300);
    font-size: 0.5;
    font-weight: 300;
    letter-spacing: normal;
    font-style: italic;
}

.subtitle-count{
    color: var(--blue300);
    font-size: 0.5;
    font-weight: 300;
    letter-spacing: normal;
    font-style: italic;
}

p {
    font-size: 1rem;
}


/* -------------- ------ Section wrappers --------------------*/

.body-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: var(--blue900);
    background-image: url(../images/pattern-background-desktop-dark.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.quiz-wrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}

.question-wrapper,
.answers-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* -------------------- Start Menu --------------------*/

/* Toggle */
.toggle-wrapper {
    display: flex;
    flex: row;
    justify-content: end;
}

.toogle-accessibility {
    display: flex;
    flex: row;
    justify-content: end;
    border: 2px solid transparent;
    padding: 8px;
    margin-right: -10px;
}

.toogle-accessibility:has(.toggle-input:focus-visible) {
    border: 2px solid var(--green500);
    padding: 8px;
    border-radius: 0.7rem;     
}   

.toggle-wrapper img {
    stroke-width: 8;
}

.toggle-switch {
    margin: 0 0.5rem;
}

.toggle-label {
  display: block;
  width: 50px;
  height: 25px;
  background: var(--purple600);
  border-radius: 25px;
  position: relative;
  cursor: pointer;
}

.toggle-ball {
  position: absolute;
  top: 3px;
  right: 3px;
  width: 19px;
  height: 19px;
  background: var(--white);
  border-radius: 50%;
  transition: transform 0.4s;
}

.toggle-input {
    position: absolute;
    opacity: 0;
    background-color: transparent;         
}

.toggle-input:checked + .toggle-label .toggle-ball {
  transform: translateX(-25px);
}

/* Button */
button {
    outline: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: var(--blue850);
    border: 2px solid var(--blue850);
    border-radius: 0.7rem;
    min-width: 25rem;
    cursor: pointer;
    padding: 0.5rem;
}

button:first-of-type:hover,
button:first-of-type:focus {
    border: 2px solid var(--orange400) !important;
}

button:nth-of-type(2):hover,
button:nth-of-type(2):focus {
    border: 2px solid var(--green500) !important;
}

button:nth-of-type(3):hover,
button:nth-of-type(3):focus {
    border: 2px solid var(--blue500) !important;
}

button:nth-of-type(4):hover,
button:nth-of-type(4):focus {
    border: 2px solid var(--purple600) !important; 
}

.icon {
    margin: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

button span {
    font-size: 1.2rem;
    margin-left: 1rem;
}


/* -------------------- Questions --------------------*/

/* Subject & Toogle */
.subject-toogle-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.subject-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.subject-wrapper span {
    font-size: 1.2rem;
    margin-left: 1rem;
}

/* Question */
.question {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

/* Progress bar */
.progress-bar {
    width: 100%;
    height: 0.6rem;
    background-color: var(--blue850);
    border-radius: 0.2rem;
    padding: 0.1rem;
}

.progress-fill {
    width: 50%;
    height: 0.4rem;
    background-color: var(--purple600);
    border-radius: 0.2rem;
}


/* Answers */

/* WARNING WARNING WARNING - TO ERASE LATER */
.toogle-accessibility:has(.toggle-input:focus-visible) {
    border: 2px solid var(--purple600);  
}   

.answers-display button:first-of-type:hover,
.answers-display  button:first-of-type:focus {
    border: 2px solid var(--purple600) !important;
}

.answers-display button:nth-of-type(2):hover,
.answers-display button:nth-of-type(2):focus {
    border: 2px solid var(--purple600) !important;
}

.answers-display button:nth-of-type(3):hover,
.answers-display button:nth-of-type(3):focus {
    border: 2px solid var(--purple600) !important;
}

.answers-display button:nth-of-type(4):hover,
.answers-display button:nth-of-type(4):focus {
    border: 2px solid var(--purple600) !important; 
}

.letter-box {
    margin: 0.5rem;
    height: 46.38px;
    width: 46.38px;
    color: var(--grey500);
    border-radius: 0.5rem;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Form step 1(Start Menu) to step 2 (Questions Menu)*/

/* Step 1 */

/* WARNING WARNING WARNING - TO INTEGRATE LATER */
.subject-toogle-wrapper {
    justify-content: space-between !important; /*space-between or end*/
}

.title-display {
    display: none !important; /*none or initial*/

}
.subject-choice-display {
    display: none !important; /*none or flex*/
}


/* Step 2 */
.question-display {
    display: initial !important; /*none or initial*/
}
.answers-display,
.subject-display {
    display: flex !important; /*none or flex*/
}


/* -------------------- Responsivness --------------------*/

@media screen and (max-width: 900px) {
    
    .body-wrapper {
        background-image: url(../images/pattern-background-tablet-dark.svg);
    }
    
    .quiz-wrapper {
        flex-direction: column;
        }
}

@media screen and (max-width: 450px) {
    
    .body-wrapper {
        background-image: url(../images/pattern-background-mobile-dark.svg);
    }

    button {
            min-width: 15rem;
        }
}